@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-black text-white py-2.5 px-6 rounded-xl transition-all flex items-center justify-center h-fit;
}

.btn.sm {
  @apply py-2 px-4;
}

.btn.secondary {
  @apply bg-white border-2 border-black text-black;
}

.btn:hover {
  @apply bg-slate-900;
}

.btn.secondary:hover {
  @apply bg-slate-100;
}

option {
  font-family: "Inter", sans-serif;
}

.mapbox-marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}